body{
	background: #F1F1F1;
	font: 12px/1.5 Arial, sans-serif;
	color: #c2c2c2;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-hugesearch-form ::-webkit-input-placeholder {color:#c2c2c2;}
.ba-hugesearch-form ::-moz-placeholder          {color:#c2c2c2;}
.ba-hugesearch-form :-moz-placeholder           {color:#c2c2c2;}
.ba-hugesearch-form :-ms-input-placeholder      {color:#c2c2c2;}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1055px;
	margin: 0 auto;
}

/* main */
.ba-hugesearch-form {
	position: relative;
	padding: 0 86px 0 6px;
	margin: 60px 0px;
}
.ba-hugesearch-form ::-webkit-input-placeholder {color:#c2c2c2;}
.ba-hugesearch-form ::-moz-placeholder          {color:#c2c2c2;}
.ba-hugesearch-form :-moz-placeholder           {color:#c2c2c2;}
.ba-hugesearch-form :-ms-input-placeholder      {color:#c2c2c2;}

.ba-hugesearch-input,
.ba-hugesearch-submit {
	border: none;
	outline: none;
}
.ba-hugesearch-input {
	font-size: 100px;
	background: transparent;
	width:100%;
	font-weight: 700;
	color: #ec5a62;
}

.ba-hugesearch-submit {
	background: url(../img/magnifier.svg);
	font-size: 0;
	width: 80px;
	height: 80px;
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -40px;
}
.ba-hugesearch-content {
	font-size: 0;
}
.ba-column {
	vertical-align: top;
	font-size: 12px;
	width: 30%;
	display: inline-block;
}
.ba-column:nth-child(2) {
	margin: 0 5%;
}
.ba-column-title {
	font-weight: 800;
	text-transform: uppercase;
}
.ba-column-list {
	padding: 0;
	list-style: none;
}
.ba-column-list li ~ li {
	margin-top: 4px;
}
.ba-column-list a {
	display: block;
	background-color:  rgba(118,117,128,0.05);
	border-radius: 5px;
	padding: 12px;
	color: #c2c2c2;
	text-decoration: none;
	font-size: 0;
}
.ba-column-list a:hover {
	color: #ec5a62;
	background: rgba(118,117,128,0.1);
}
.ba-column-list img,
.ba-column-list h3 {
	display: inline-block;
	vertical-align: middle;
}
.ba-column-list img {
	margin-right: 15px;
	width: 50px;
	height: 50px;
}
.ba-column-list h3 {
	width: calc(100% - 65px);
	margin: 0;
	font-size: 14px;
}
